name: End-to-end tests
on: [push]
jobs:
  Cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependecies, cache them correctly
      # nd run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2